.game {
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/tiles/Sand/land_sand05.png);
    position: relative;
}
    .game > .info {
        display: inline-block;
        width: 300px;
        position: fixed;
        top: 20px;
        z-index: 2;
    }
        .game > .info.player-0 {
            left: 20px;
        }
        .game > .info.player-1 {
            right: 5px;
        }
        .game > .info > * {
            display: inline-block;
            width: 100%;
            font-weight: bold;
            font-size: 20px;
        }
            .game > .info > * > span {
                display: inline-block;
                font-weight: normal;
            }
        .game > .info > .speed {
            display: inline-block;
            width: 100%;
            font-size: 30px;
            line-height: 60px;
        }
            .game > .info > .speed > span {
                display: inline-block;
                font-size: 60px;
                font-weight: bold;
            }
        .game > .info > .winner {
            display: inline-block;
            width: 100%;
            font-size: 30px;
            line-height: 60px;
        }
            .game > .info > .winner > span {
                display: inline-block;
                font-size: 60px;
                font-weight: bold;
                color: red;
            }
        .game > .thisGameOver-0 {
            display: inline-block;
            width: 650px;
            position: absolute;
            top: 300px;
            left: 630px;
            z-index: 2;
        }
            .thisGameOver-0 > .gameOver {
                display: inline-block;
                width: 100%;
                padding: 10px;
                font-size: 60px;
                line-height: 70px;
                letter-spacing: 2px;
                font-weight: bold;
                color: red;
                text-align: center;
                border-radius: 30px;
            }
            .game > .thisGameOver-1 {
                display: inline-block;
                width: 650px;
                position: absolute;
                top: 300px;
                left: 630px;
                z-index: 2;
            }
                .thisGameOver-1 > .gameOver {
                    display: inline-block;
                    width: 100%;
                    padding: 10px;
                    font-size: 60px;
                    line-height: 70px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    color: red;
                    text-align: center;
                    border-radius: 30px;
                }
        
    .game > .tribuneTop {
        display: inline-block;
        width: 448px;
        height: 223px;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-image: url(../img/objects/tribune_full.png);
    }       
    .game > .tribuneBottom {
        display: inline-block;
        width: 448px;
        height: 223px;
        position: absolute;
        top: 78%;
        left: 38%;
        transform: rotate(180deg);
        background-image: url(../img/objects/tribune_full.png);
    }       
    .game > .treeOne {
        display: inline-block;
        width: 141px;
        height: 141px;
        position: absolute;
        top: 80%;
        left: 90%;
        background-image: url(../img/objects/tree_small.png);
    }       
    .game > .treeThree {
        display: inline-block;
        width: 141px;
        height: 141px;
        position: absolute;
        top: 4%;
        left: 20%;
        background-image: url(../img/objects/tree_small.png);
    }       
    .game > .treeFour {
        display: inline-block;
        width: 141px;
        height: 141px;
        position: absolute;
        top: 4%;
        left: 70%;
        background-image: url(../img/objects/tree_small.png);
    }       
    .game > .grassLeft {
        display: inline-block;
        width: 128px;
        height:900px;
        position: absolute;
        top: 35%;
        left: 0%;
        background-image: url(../img/tiles/Grass/land_grass05.png);
    }       
    .game > .grassCorner {
        display: inline-block;
        width: 141px;
        height:141px;
        position: absolute;
        top: 37%;
        left: 0px;
        transform: translate(0px, -128px);
        background-image: url(../img/objects/tree_small.png);
    }  
    .game > .parking2{
        display: inline-block;
        width: 39px;
        height:70px;
        position: absolute;
        top: 40%;
        left:65px;
        transform: rotate(-20deg);
        background-image: url(../img/cars/car_red_small_4.png);
    }  
    .game > .parking3 {
        display: inline-block;
        width: 39px;
        height:70px;
        position: absolute;
        top: 50%;
        left:65px;
        transform: rotate(-20deg);
        background-image: url(../img/cars/car_blue_small_4.png);
    }  
    .game > .parking4 {
        display: inline-block;
        width: 39px;
        height:70px;
        position: absolute;
        top: 60%;
        left:65px;
        transform: rotate(-20deg);
        background-image: url(../img/cars/car_black_small_4.png);
    }  
    .game > .parking5 {
        display: inline-block;
        width: 39px;
        height:70px;
        position: absolute;
        top: 70%;
        left:65px;
        transform: rotate(-20deg);
        background-image: url(../img/cars/car_black_small_1.png);
    }  
    .game > .parking6 {
        display: inline-block;
        width: 39px;
        height:70px;
        position: absolute;
        top: 80%;
        left:65px;
        transform: rotate(-20deg);
        background-image: url(../img/cars/car_green_small_3.png);
    }  
    .game > .parking7 {
        display: inline-block;
        width: 39px;
        height:70px;
        position: absolute;
        top: 90%;
        left:65px;
        transform: rotate(-20deg);
        background-image: url(../img/cars/car_black_small_1.png);
    }  
    .game > .person1 {
        display: inline-block;
        width: 52px;
        height:36px;
        position: absolute;
        top: 21%;
        left: 120px;
        transform: rotate(-80deg);
        background-image: url(../img/characters/character_black_red.png);
    }  
    .game > .person2 {
        display: inline-block;
        width: 52px;
        height:36px;
        position: absolute;
        top: 28%;
        left: 90%;
        transform: rotate(-96deg);
        background-image: url(../img/characters/character_black_blue.png);
    }  
    .game > .person3 {
        display: inline-block;
        width: 52px;
        height:36px;
        position: absolute;
        top: 45%;
        left: 95%;
        transform: rotate(-96deg);
        background-image: url(../img/characters/character_blonde_red.png);
    }  
    .game > .person4 {
        display: inline-block;
        width: 52px;
        height:36px;
        position: absolute;
        top: 22%;
        left: 93%;
        transform: rotate(-96deg);
        background-image: url(../img/characters/character_brown_white.png);
    }  
    .game > .person5 {
        display: inline-block;
        width: 52px;
        height:36px;
        position: absolute;
        top: 38%;
        left: 91%;
        transform: rotate(20deg);
        background-image: url(../img/characters/character_blonde_green.png);
    }  
    .game > .person6 {
        display: inline-block;
        width: 52px;
        height:36px;
        position: absolute;
        top: 52%;
        left: 96%;
        transform: rotate(60deg);
        background-image: url(../img/characters/character_black_red.png);
    }  
    .game > .tent {
        display: inline-block;
        width: 128px;
        height:128px;
        position: absolute;
        top: 28%;
        left: 93%;
        transform: rotate(-96deg);
        background-image: url(../img/objects/tent_blue.png);
    }      
    .game > .ground {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }
    .game > .ground.sand {
        background-image: url(../img/tiles/Sand/land_sand05.png);
    }
    .game > .ground.grass {
        background-image: url(../img/tiles/Grass/land_grass11.png);
    }
        .game > .ground > .car {
            display: inline-block;
            width: 38px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
            object-position: center;
        }
        .game > .ground > .track {
            display: inline-block;
            width: 128px;
            height: 128px;
            position: absolute;
            top: 0;
            left: 0;
        }